<div class="mb-3 pd-4"> 
   
<h3 id="contato">Contato</h3>
<form action="https://formsubmit.co/bia22.sp@hotmail.com" method="POST" class="form">
    <input type="hidden" name="_captcha" value="false">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Nome" required>
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Menssagem</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <input type="hidden" name="_next" value="main">
    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
</form>
</div>

