<div class="texto"><h3 id="sobre">Sobre</h3></div>
<div class="container">
    <img src="../../assets/img/Foto.jpg" alt="Foto Ana">
     
    <div class="sobre">
        <p>
            Profissional de tecnologia apaixonado, criativo e voltado para resultados, com especialização  em
            desenvolvimento front-end e alguns anos de experiência em desenvolvimento web e outras tecnologias e
            produto digital, comunicações, marca e conteúdo. Acredito que os dados devem orientar as decisões, mas
            com criatividade para apoiá-los, tudo com o objetivo  de fazer o  negócio ou a ideia crescer 
            agressivamente.
        </p>
    </div>
</div>
