<div class="container">

    <div class="title"><h3 id="skils">Skils</h3></div>

	</div>
<div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/html.png" alt="Logo HTML"></div>  
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/css.png" alt="Logo CSS"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/Js.png" alt="Logo JavaScrit"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/angular.png" alt="Logo Angular"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/bootstrap.jfif" alt="Logo bootstrap"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/node.png" alt="Logo Node"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/mysql.png" alt="Logo MySql"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/php.jfif" alt="Logo Php"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/laravel.png" alt="Logo Laravel"></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/linux.png" alt="Logo Linux"></div>  
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/git.png" alt="Logo GIT"></div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/github.png" alt="Logo GitHub"></div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light"><img src="../../assets/img/docker.png" alt="Logo DOCKER"></div>
    </div>
    </div>
  </div>